@{
    ViewData["Title"] = "How To Play";
}
<div class="container htp-container">

    <h1>How To Paly The Game! </h1>

    <div class="htp-home-reg">
        <p> First you have to create a user account using your valid username</p>
        <img src="~/assets/htp-reg.png" width="70%" />

    </div>
    <div>
        <p>Then you have to login</p>
		<img src="~/assets/htp-login.png" width="70%" />
    </div>

    <div>
        <p>After that, you will be redirected to the home page. In there You have 4 Options</p>

		<img src="~/assets/htp-home.png" width="70%" />
    </div>

    <div>
        <div>
            <h2>Start Game</h2>
            <p>This button will start the game</p>
            <img src="~/assets/htp-home-startgame.png" width="70%" />

            <h2>Personal Records</h2>
            <p>This button takes you to your personal scores</p>
            <img src="~/assets/htp-home-personal-record.png" width="70%" />

            <h2>Score Bord</h2>
            <p>This core bord will show the to top 10 Players </p>
            <img src="~/assets/htp-home-scorebord.png" width="70%" />

            <h2>How To Play</h2>
            <p>This button will guid how to play the game</p>
            <img src="~/assets/htp-home-howtoplay.png" width="70%" />

        </div>
        
    </div>

    <div>
        <h2>Start Game</h2>
        <h3>Step 1</h3>
		<img src="~/assets/htp-game-step-1.png" width="70%"/>
        <p>You will get 60 seconds to solve the banana icons value <br />
            Then you have to drag the answer and put it into the dotted line box and then submit.</p>

        <h3>Step 2</h3>
		<img src="~/assets/htp-game-step-2.png" with="70%"/>
        <p>For each correct answer, you will get 100 points for your score. After giving the correct answer, you will go to the next level.</p>
    </div>

    <div>
        <h2>Score bord</h2>
        <p>Will display the to 10 scores</p>
		<img src="~/assets/htp-score-bord.png" width="70%" />
    </div>



</div>