@{
    ViewData["Title"] = "Game Start";
}

<div id="game-ui-container">
    <div class="game-screen">
        <div>
            <h1 class="game-title">Welcome to Math is Fun!</h1>
            @* <p class="floating-text">Are you ready for an exciting adventure?</p> *@
            <ul>
                <li class="mt-5">
                    <a>
                        <button class="start-button" onclick="startGame()">Start Game</button>
                    </a>
                </li>
                <li class="mt-5">
                    <a>
                        <button class="start-button" onclick="scoreBord()">Score Bord</button>
                    </a>
                </li>

            </ul>
        </div>
    </div>

</div>


@section Scripts
{
    <partial name="_GameScriptsPartial" />
}
