@model MathGameModel


<div class="row row-col-md-12">
	
	@if (Model.BananaResponse !=  null) 
	{		
		<div class="text-center">

			<div id="game-level" class="game-level">Level:@Model.Level </div>
			<div id="timer" class="timer"></div>

			<div class="image-container">

				<div class="row  pt-lg-5">
					<img src="@Model.BananaResponse.Question" alt="Question" onload="this.style.opacity=1;" />
					<input type="hidden" id="banana_key" value="@Model.Answer"/>
					<input type="hidden" id="level-user" value="@Model.Level" />
					@* <input type="hidden" id="banana_answer" value="@Model.BananaResponse.Solution"/> *@
				</div>

				<div class="row">
					<div class="">
						<!-- <input placeholder="Answer" id="user_answer" type="number" />-->
						<h2 class="drag-txt">Drag and Drop Your Answer</h2>
						<div class="options">
							<div class="draggable" draggable="true" id="num1">0</div>
							<div class="draggable" draggable="true" id="num2">1</div>
							<div class="draggable" draggable="true" id="num3">2</div>
							<div class="draggable" draggable="true" id="num3">3</div>
							<div class="draggable" draggable="true" id="num3">4</div>
							<div class="draggable" draggable="true" id="num3">5</div>
							<div class="draggable" draggable="true" id="num3">6</div>
							<div class="draggable" draggable="true" id="num3">7</div>
							<div class="draggable" draggable="true" id="num3">8</div>
							<div class="draggable" draggable="true" id="num3">9</div>
						</div>
						<br>
						<div class="drop-zone" id="answer-box">Drop here</div>
						<br>
					</div>
					<div class="mt-2">
						<input class="btn btn-success submit-btn" value="Submit" type="button" onclick="checkAnswer()" />
					</div>
				</div>
			</div>
		</div>
	}

	<div class="modal" id="my-model" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="model_body">
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn_set_next_level">OK</button>
				</div>
			</div>
		</div>
	</div>

</div>


<script>
	$(document).ready(function() {

		$('.draggable').on('dragstart', function(e) {
			e.originalEvent.dataTransfer.setData('text', $(this).text());
		});

		$('.drop-zone').on('dragover', function(e) {
			e.preventDefault();
		});

		$('.drop-zone').on('drop', function(e) {
			e.preventDefault();
			var data = e.originalEvent.dataTransfer.getData('text');
			$(this).text(data);
		});

		$('#submit-btn').on('click', function() {
			var answer = $('#answer-box').text();
			if (answer === '7') { // Example correct answer
				alert('Correct Answer!');
			} else {
				alert('Wrong Answer! Try Again.');
			}
		});
	});
</script>