<script type="text/javascript">

    // Game starting Action
    function startGame() 
    {
        fetchBananaApi();
    }

    // Fetch Game UI
    function fetchBananaApi(current_level) 
    {
        if(current_level == null)
        {
            console.log(current_level);
            current_level = 1;
        }

        $.ajax({
            url: "Home/MathGameUI",
            type: "GET",
            data:
            {
                level:current_level
            },
            success: function(data) {
                //alert("success");
                $("#game-ui-container").html(data);
                continueTimer();
                displayTimer((60/current_level)); // Display timer when UI is fetched
            },
            error: function()
            {
                alert("error!");
            }
        });
    }
    var timerPause = false;

    // Set game time
    function displayTimer(time) 
    {
        let timeLeft = time; // Initial time
        const timerElement = $("#timer");

        timerElement.text(timeLeft); // Set initial timer value

        //start timer
        function startTimer() {
            const countdown = setInterval(() => {
                if (timerPause != true) {
                    timeLeft--;
                    timerElement.text(timeLeft); // Update the timer value

                    if (timeLeft <= 0) {
                        clearInterval(countdown);
                        timerElement.text("0");
                        gameOverScreen();
                    }
                }
            }, 1000);
        }
        startTimer();
    }

     //pause timer
    function pauseTimer()
    {
        timerPause =true;
    }

    //continue  timer
    function continueTimer()
    {
        timerPause =false;
    }

    // Game Over Screen
    function gameOverScreen() 
    {
        var gameLevel = parseInt($("#level-user").val());
        $.ajax({
            url: "Home/GameOverScreen",
            type: "GET",
            data:
            {
                userLevel : gameLevel
            },
            success: function(data) 
            {
                alert("Game Over!");
                $("#game-ui-container").html(data);
            },
            error: function() 
            {
                alert("error!");
            }
        });
    }

    function checkAnswer()
    {
        // get input vals
        var answer = $("#user_answer").val();
        var solution = $("#banana_key").val();
        var level = parseInt($("#level-user").val());

        var myModal = $('#my-model');

        if(answer != null)
        {
            $.ajax({
                url: "Home/ChecKUserAnswer",
                type: "GET",
                data:
                {
                    userAnswer:answer,
                    hashSolution:solution
                },
                success: function(data)
                {
                    console.log(level);
                    console.log(typeof(level));
                    if(data == true)
                    {
                       // alert("Your Answer Is Correct!");
                        pauseTimer();
                        myModal.show();
                        gameModel("You are correct!", false, myModal, level);
                        
                        
                    }
                    else
                    {
                      // alert("Game Over!");
                      myModal.show();
                        gameModel("Game Over!", true, myModal, level);
                       //$("#game-ui-container").html(data);
                    }

                },
                error: function()
                {
                    alert("error!");
                }
            });
        
        }
                
    }

    function gameModel(modelBodyTxt, gameOver, myModal, level)
    {
        var modelBodyText = $('#model_body');
        modelBodyText.html("<h1>" + modelBodyTxt + "</h1>");
        
        if(gameOver === false)
        {
            $("#btn_set_next_level").click(function(){
                $(this).text('Next Level');
                console.log("-------------")
                myModal.hide();
                fetchBananaApi(level+1);
            });
        }
        else
        {
            $("#btn_set_next_level").click(function(){
                $(this).text('Score Bord');
                console.log("-------------",level)
                console.log(typeof(level));
                myModal.hide();
                gameOverScreen();
            });
        }      
    }

    function scoreBord()
    {
        $.ajax({
            url: "Home/GameOverScreen",
            type: "GET",
            data: 0,
            success:function(data)
            {
                $("#game-ui-container").html(data);
            },
            error: function()
            {
                alert("error!");
            }
        })
    }

</script>
